html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Magnel;
  font-weight: 300;
}

p {
  font-family: Magnel;
}

.centrer {
  display: flex;
  justify-content: center;
}



/******************************BANNIERE*********************************************/

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=1070x10000:format=jpg/path/sc96c6335ee1b0cc8/image/i4507aea7d94925d4/version/1468576517/image.jpg");
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: darkseagreen;
  font-size: 4em;
  text-transform: uppercase;
}


/******************************NAVIGATION*******************************************/

nav {
  margin-bottom: 100px;
}

nav p {
  padding-top: 35px;
  padding-left: 15px;
}

nav p a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact;
  font-size: 1.5em;
  color: dimgrey;
  padding: 0;
  background-color: white;
}

nav p.active a,
nav p a:hover,
nav p.active a:hover {
  text-decoration: none;
  color: darkslategray;
  background-color: white;
  transition: 0.6s;
}


/****************************SECTION************************************************/

.titrePage {
  color: darkslategray;
  font-size: 1.5em;
}

.ssTitrePage {
  color: darkseagreen;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.contenu {
  margin-bottom: 60px;
}


/*************************BAS DE PAGE**************************/

footer {
  height: 220px;
  background-color: #32333B;
}


/**************************************************************/


/* Media Queries */

@media (max-width: 680px) {
  .nav {
    float: none;
    margin: 0 auto;
  }
}

.cube {
  height: 100px;
  width: 100px;
  display: inline-block;
}

#red {
  background-color: #FF0000;
}

#blue {
  background-color: #0000FF;
}

#yellow {
  background-color: #E2BE22;
}

#green {
  background-color: #008800;
}
